* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(127, 26, 221);
}

#textoUsuario {
    width: 500px;
    height: 50px;
    position: relative;
    top: 168px;
    left: 240px;
    font-size: 20px;
    border-radius: 10px;
    color: rgb(106, 106, 106);
    text-align: justify;
}

.boton {
    display: flex;
    width: 300px;
    height: 67px;
    border-radius: 15px;
    left: 240px;
    gap: 24px;
}

#pantallaParaMostrarTexto {
    /* INSERTANDO POSICION DESEADA */
    position: absolute;
    top: 40px;
    margin: auto;
    padding: 15px;
    /* REDONDEA EL CUADRO */
    border-radius: 20px;
    width: 250px;
    height: 650px;
    border: 2px solid black;
    /* CENTRAR EL CONTENIDO DENTRO DEL CONTENEDOR */
    display: flex;
    justify-content: center;
    align-items: center;
    left: 1200px;
    overflow: auto;
}




#pieDePagina {
    margin:30px;
}














