* {
    padding: 0;
    margin: 0;
}

body { 
    width: 100%;
    background-color: rgb(221, 220, 220);
}

#container_ingresarTexto {
    position: relative;
    top: 168px;
    left: 380px;
}

#textoUsuario {
    width: 500px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px; 
    color: rgb(106, 106, 106);
    text-align: justify;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.5);
}


.container_botones {
    width: 650px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 500px;
    left: 300px;
}

.fondoAzul{
    background-color:rgb(8, 8, 104);
    color:white;
}

.fondoGris {
    background-color: rgb(177, 177, 177);
    color:blue;
}

.botones{
    display: flex;
    width: 300px;
    height: 67px;
    left: 240px;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    border-color: rgb(8, 8, 104);
}

#pantallaParaMostrarTexto {
    /* INSERTANDO POSICION DESEADA */
    position: absolute;
    top: 40px;
    left: 1100px;
    padding: 15px;
    /* REDONDEA EL CUADRO */
    border-radius: 20px;
    width: 350px;
    height: 650px;
    border: 1px solid black;
    /* CENTRAR EL CONTENIDO DENTRO DEL CONTENEDOR */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: white;
    box-shadow: 5px 5px 10px rgb(0,0,0,0.5);
}


/* #pieDePagina {
    margin:30px;
} */














